@font-face {
    font-family: 'Mexicana';
    src: url('./Mexicana.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./Helvetica-Neue-97-Black-Condensed.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-VariableFont_wght.ttf'),
        url('./Raleway-Italic-VariableFont_wght.ttf') font-italic;
}

@font-face {
    font-family: 'Lovers Quarrel';
    src: url('./LoversQuarrel-Regular.ttf');
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-size: 16px;
}



html,
body {
    height: 100%;
    width: 100%;

}



header {
    background-color: transparent;
    padding-top: .5rem;
    padding-left: 1%;
    display: flex;
    justify-content: center;
    gap: 6rem;
    text-transform: uppercase;

}

button {
    all: unset;
    padding: .5rem .5rem;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: 'Helvetica Neue';
    color: #ffffff;
}

button:hover {
    outline: white 5px auto;
    transform: translateY(4px);
}

button:active {
    transform: translateY(4px);
}

h2 {
    background-color: transparent;
    font-size: 2.5rem;
    font-family: 'Mexicana', 'Raleway', Courier, monospace;
    color: white;
}

#content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./generic-tacos.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box {
    background-color: transparent;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 80vh;
}

.home-box .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    height: 90%;
    padding-top: 1rem;
    background-color: transparent;
}

.home-box .taco-icon {
    background-color: transparent;
    width: 13rem;
    height: 13rem;
    filter: invert(93%) sepia(0%) saturate(29%) hue-rotate(101deg) brightness(100%) contrast(107%);
}

.about-box .inner-box{
    background-color: transparent;
    width: 80%;
    margin-left: 1rem;
}

.about-box .inner-box p{
    background-color: transparent;
    font-family: 'Lovers Quarrel';
    font-size: 4rem;
}

.menu-box .inner-box{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-box .inner-box img {
    max-width: 50%;
}

.footer {
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    margin-top: auto;
    height: 2.5rem;
}
.locations,
.contact, 
.catering, 
.espanol {
    all: unset;
    font-family: 'Raleway';
    font-size: .6rem;
}

.locations {
    margin-left: 40%;
}

.facebook,
.instagram,
.twitter {
    background-color: transparent;
}

.twitter {
    margin-right: auto;
}
